
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #0B1F3A, #1E3A8A);
    font-family: Arial, sans-serif;
}

.card {
    width: 320px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
    text-align: center;
}

.card img {
    width: 100px;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 20px;
    color: #0B1F3A;
}
form{
    display: flex;
    flex-direction: column;
    text-align: left;
}
label{
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 600;
}

input,select {
    width: 100%;
    padding: 14px 16px;
    border: none;
    border-radius: 8px;
    background: #e5e7eb;
    font-size: 15px;
    margin-bottom: 15px;
    outline: none;
    box-sizing: border-box;
}

button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #D4AF37;   
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
    cursor: pointer;
}

button:hover {
    background: #caa659;
}

.login-text {
    text-align: center;
    margin-top: 15px;
}

.login-text a {
    color: red;
    text-decoration: none;
    font-weight: 600;
}
a:hover {
    text-decoration: underline;
}
